@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f1424;
  font-family: Rubik, sans-serif;
}
body header {
  background-color: #1c1f4a;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  max-width: 325px;
}
body header .report {
  display: flex;
  justify-content: center;
  background-color: #5847eb;
  color: #bdc1ff;
  border-radius: 15px;
  padding: 30px 0;
}
body header .report img {
  width: 72px;
  margin-right: 15px;
  border: 3px solid white;
  border-radius: 50%;
}
body header .report .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body header .report .text-content p {
  font-size: 16px;
}
body header .report .text-content h1 {
  font-size: 26px;
  font-weight: 400;
  color: white;
}
body header .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
body header .buttons button {
  font-weight: 500;
  border: none;
  width: 30%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0);
  color: #6f76c8;
}
body .card {
  background-color: #1c1f4a;
  width: 90%;
  max-width: 325px;
  margin: auto;
  list-style: none;
  position: relative;
  border-radius: 15px;
  z-index: 1;
  margin-top: 50px;
}
body .card .wrapper {
  background-color: #1c1f4a;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 15px 15px 0 0;
  color: white;
}
body .card .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .card .left h2 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 5px;
}
body .card .left div {
  font-size: 32px;
  font-weight: 200;
}
body .card .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
body .card .right img {
  width: 24px;
}
body .card .right div {
  color: #6f76c8;
  font-size: 14px;
  text-transform: capitalize;
}
body .card .background {
  border-radius: 15px;
  height: fit-content;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 90% -10px;
}
body .card .background span {
  display: block;
  height: 40px;
  width: 100%;
}
body .card #background-work {
  background-color: #ff8c66;
  background-image: url(../images/icon-work.svg);
}
body .card #background-play {
  background-color: #56c2e6;
  background-image: url(../images/icon-play.svg);
}
body .card #background-study {
  background-color: #ff5c7c;
  background-image: url(../images/icon-study.svg);
}
body .card #background-exercise {
  background-color: #4acf81;
  background-image: url(../images/icon-exercise.svg);
  background-position: 90% 0;
}
body #background-social {
  background-color: #7536d3;
  background-image: url(../images/icon-social.svg);
}
body #background-self-care {
  background-color: #f1c65b;
  background-image: url(../images/icon-self-care.svg);
}

@media only screen and (min-width: 800px) {
  body {
    display: flex;
  }
  body header {
    margin-right: 40px;
  }
  body header .report {
    flex-direction: column;
    height: 400px;
  }
  body header .report img {
    width: 64px;
    height: auto;
    margin: 20px 0 30px 30px;
  }
  body header .report .text-content {
    margin-left: 30px;
  }
  body header .report .text-content h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  body header .buttons {
    flex-direction: column;
  }
  body header .buttons button {
    margin-left: 30px;
    text-align: left;
  }
  body main {
    width: 60%;
    height: 100%;
    margin-top: 80px;
    margin-right: 80px;
  }
  body main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 635px;
  }
  body main ul .card {
    width: 30%;
    margin: 0;
    margin-bottom: 40px;
    margin-right: auto;
  }
  body main ul .background {
    height: 225px;
  }
  body main ul .wrapper {
    flex-direction: column;
    align-items: start;
    height: 200px;
  }
  body main ul .wrapper .left div {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  body main ul .wrapper img {
    position: absolute;
    top: -260px;
    right: 30px;
  }
  body .attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
